<footer>
    <div class="footer-container">
        <div class="footer-container-top">
            <h1>[HC]</h1>
            <div class="icon-container">
            <a target="_blank" href=""><img src="./assets/images/linkedin.png" alt=""></a>
            <a target="_blank" href="https://github.com/hasancskn38"><img src="./assets/images/github.png" alt=""></a>
            <a target="_blank" href="mailto:hasan.coskun38@outlook.de"><img src="./assets/images/email.png" alt=""></a>
            </div>
        </div>
        <div class="footer-container-bottom">
            <p>&copy; Hasan Coskun 2023</p>
            <p class="legal">Legal notice</p>
        </div>
    </div>
</footer>