<footer>
    <div class="footer-container">
        <div class="footer-container-top">
            <h1>[HC]</h1>
            <div class="icon-container">
            <a target="_blank" href="https://www.linkedin.com/in/hasan-coskun-386078230/"><img src="./assets/images/linkedin.png" alt=""></a>
            <a target="_blank" href="https://github.com/hasancskn38"><img src="./assets/images/github.png" alt=""></a>
            <a target="_blank" href="mailto:contact@hasan-coskun.com"><img src="./assets/images/email.png" alt=""></a>
            </div>
        </div>
        <div class="footer-container-bottom">
            <p>&copy; Hasan Coskun</p>
            <a routerLink="/legal-notice" (click)="scrollToTop()" style="color:white" class="legal">Privacy policy</a>
        </div>
    </div>
</footer>