.cursor {
  cursor: pointer;
}

.about-me {
  opacity: 0;
}

// TODO delete after images 
.placeholder {
  border: 1px solid black;
  height: 200px;
}

.aboutme {
  margin: 0 0 100px 0;
  padding: 0 64px;
}

.aboutme-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

.aboutme-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 70;
  height: 40vh;
}

button {
  width: 200px;
  padding: 16px;
  margin: 64px;
  font-size: 24px;
  border: 4px solid black;
  background-color: transparent;
  transition: all 225ms ease-in-out;
  font-family: sans-serif;
  font-weight: 400;

  a {
    text-decoration: none;
    color: black;
  }

  &:hover {
    width: 250px;
  }
}

.aboutme-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: 40vh;
}



.arrow-container {
  display: flex;
  justify-content: flex-end; /* Align content to the end (right side) */
  align-items: flex-end;

  img {
  margin-right: 32px;
  height: auto; /* Maintain the aspect ratio of the image */
  display: block;
  pointer-events:none;
  }
}

h2 {
  font-size: 56px;
  font-weight: 800;
  transition: all 225ms ease-in-out;
  display: inline-block;

  &:hover {
    cursor: default;
    color: #00BC8F;
  }
}

p {
  font-size: 24px;
}


@media (max-width:1280px) {

  .aboutme {

    .aboutme-container {
      flex-direction: column;
    }

    button {
      display: none;
    }
  }

  .arrow-left {
    display: none;
  }
}

@media (max-width:600px) {

  h2 {
    font-size: 40px;
  }

  p {
    font-size: 18px;
  }
}

@media (max-width:460px) {
  h2 {
    font-size: 25px;
  }

  p {
    font-size: 14px;
  }
}
