<div class="aboutme">
    <h2>About me</h2>
    <div class="aboutme-container">
        <div class="aboutme-left">
            <p>I'm a passionate junior front-end developer from Cologne, Germany.
               With a strong love for web development, I aim to create beautiful, user-friendly
               websites by writing clean and efficient code in HTML, CSS, and JavaScript. 
               My continuous learning journey keeps me up-to-date with the latest trends in 
               front-end development, and I enjoy taking on new challenges to expand my skills.
            </p>
               <button class="cursor">Let's talk</button>
        </div>
    
        <div class="aboutme-right">
            <div class="placeholder">Placeholder for Image</div>
            <!-- <img src="./assets/images/arrow-down.png" alt=""> -->
        </div>
    </div>
</div>