.cursor {
    cursor:pointer;
}

// TODO delete after images 
.placeholder {
    border: 1px solid black;
    height: 200px;
}

.aboutme {
    height: 100vh;
    padding: 0 64px;
}

.aboutme-container {
    display: flex;
    gap: 64px;
}

.aboutme-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    // takes 70% of the width
    flex: 70;
    height: 40vh;
}

button {
    width: 200px;
    padding: 16px;
    margin: 64px ;
    font-size: 24px;
    border: 4px solid black;
    background-color: transparent;
    transition: all 225ms ease-in-out;
    font-family: sans-serif;
    font-weight: 400;
    &:hover {
        width: 250px;
    }
}

.aboutme-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 40vh;
}

.aboutme-right img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    transform: rotate(45deg);
    margin-top: 250px;
}

h2 {
    font-size: 84px;
    transition: all 225ms ease-in-out;

    &:hover {
    cursor: default;
    color: #00BC8F;
    }
}

p {
    font-size: 24px;
}