<nav>
  <div class="logo"><a class="cursor" (click)="scrollTo('main')">[HC]</a></div>
  <div class="hamburger-menu cursor" (click)="toggleMenu()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</nav>

<div class="nav-responsive" *ngIf="isNavBottomVisible">

  <div class="ul-container">
    <ul [ngClass]="{'show': isMenuOpen}">
      <li class="cursor" (click)="scrollTo('main-section')" (click)="toggleMenu()"><a href="#about-me">About me</a></li>
      <li class="cursor" (click)="scrollTo('main-section')" (click)="toggleMenu()"><a href="#skills">My skills</a></li>
      <li class="cursor" (click)="scrollTo('main-section')" (click)="toggleMenu()"><a href="#portfolio">Portfolio</a></li>
    </ul>
  </div>

  <div class="nav-bottom">
    <div class="nav-bottom-left">
      <h2>Say Hi !</h2>
      <div class="copy-email">
      <div class="email-container">
        <p #emailContent class="email">hasan.coskun38@outlook.de</p>
      <img (click)="copyToClipboard(emailContent)" title="Click to copy the Email" class="cursor" src="./assets/images/copy.svg" alt="">
      </div>
      <div class="copied-container">
      <p *ngIf="isCopied">Email has been copied!</p>
      </div>
    </div>
    </div>
    <div class="nav-bottom-right">
      <a target="_blank" href="https://www.linkedin.com/in/hasan-coskun-386078230/"><img src="./assets/images/linkedin.png" alt=""></a>
      <a target="_blank" href="https://github.com/hasancskn38"><img src="./assets/images/github.png" alt=""></a>
      <a target="_blank" href="mailto:hasan.coskun38@outlook.de"><img src="./assets/images/email.png" alt=""></a>
    </div>
  </div>

</div>
