/* Reset some default styling */
body {
  margin: 0;
  padding: 0;
}

.cursor {
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 128px);
  padding: 0 64px;
  height: 80px;
  transition: all 225ms ease-in-out;
  position: fixed;
  background-color: #f8f8ee;
  z-index: 9999;
}

.nav-responsive {
  position: fixed;
  top: 80px;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: #f8f8ee;
  z-index: 5;
}

.nav-bottom {
  clip-path: polygon(0% 0%, 100% 35%, 100% 100%, 0% 100%);
  background-color: #000;
  height: 20%;
  display: flex;
  justify-content: space-between;
  padding: 64px;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
  width: calc(100vw - 128px);
  animation: slideFromBottom 700ms ease-in-out;


  .nav-bottom-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 35%;
    justify-content: center;

    .copy-email {
      display: flex;
      align-items: start;
      flex-direction: column;

      .email-container {
        display: flex;
        align-items: center;

        img {
          padding-left: 30px;
        }
      }

      .copied-container {
        display: flex;
        align-items: flex-start;

        p {
          margin: 0;
        }
      }

      img {
        width: 30px;

        &:hover~.email {
          background-color: #00BC8F !important;
        }
      }
    }
  }

  .nav-bottom-right {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;

    img {
      transition: all 225ms ease-in-out;
      width: 40px;
      padding-left: 30px;

      &:hover {
        transform: translateY(-20px);
      }
    }
  }
}

h2 {
  display: inline-block;
  transition: 225ms ease-in-out;
  color: #f8f8ee;
  font-size: 56px;
  font-weight: 900;
  margin: 0;

  &:hover {
    color: #00BC8F;
  }
}

p {
  color: #f8f8ee;
}


.logo {
  font-size: 26px;
  font-weight: 800;
  margin: 0;
  color: #000;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes slideFromBottom {

  0% {
    transform: translateY(100%);
    /* Start off-screen to the left */
  }

  100% {
    transform: translateY(0);
    /* Slide in to the page */
  }
}

.ul-container {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideInFromLeft 500ms ease-in-out;

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  li {
    font-size: 80px;
    font-weight: 700;
    padding: 45px;
    position: relative;
    text-align: center;
    width: 480px;
    display: inline-block;

    a {
      color: #000;
      text-decoration: none;
    }

    &::before {
      content: "";
      position: absolute;
      border-left: 4px solid black;
      border-bottom: 4px solid black;
      width: 30px;
      height: 40px;
      left: 5%;
      /* Adjust this value as needed to position the ::before element on hover */
      top: 70%;
      /* Set a fixed vertical position for ::before element, here it's centered */
      transform: translateY(-50%);
      /* Center ::before element vertically */
      transition: none;
      z-index: -1;
    }

    &:hover::before {
      content: "";
      transition: all 225ms ease-in-out;
      position: absolute;
      border-bottom: 4px solid #00BC8F;
      border-left: 0;
      width: 240px;
      height: 40px;
      left: 50%;
      /* Adjust this value as needed to position the ::before element on hover */
      top: 70%;
      /* Set a fixed vertical position for ::before element on hover, here it's centered */
      transform: translateY(-50%);
      /* Center ::before element vertically on hover */
      z-index: -1;
    }

    &:active::before {
      content: "";
      position: absolute;
      border: 4px solid black;
      width: 480px;
      height: 100px;
      left: 5%;
      transform: translateY(-78%);
      transition: none;
      z-index: -1;
    }
  }
}

/* Style for the hamburger menu icon */
.hamburger-menu {
  display: block;
  /* Hide by default on larger screens */
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.bar {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #333;
  margin: 7.5px 0;
}

/* Show the menu items when the hamburger icon is clicked */
ul.show {
  display: flex;
  padding: 0;
}

.slide-out {
  animation: slideOutToRight 500ms ease-in-out;
}


@media(max-width:768px) {

  .nav-responsive {

    .ul-container {
      display: flex;
      justify-content: center;
      align-items: center;
      animation: slideInFromLeft 500ms ease-in-out;

      ul {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }

      li {
        font-size: 50px;

        &::before {
          left: 22%;
        }

        &:hover::before {
          left: 50%;
          width: 135px;
        }

        &:active::before {
          width: 300px;
          height: 100px;
          left: 22%;
          transform: translateY(-78%);
        }
      }

    }

    .nav-bottom {

      clip-path: polygon(-50% 0%, 100% 45%, 100% 101%, 0% 100%);

      h2 {
        font-size: 36px;
      }

    }
  }
}
