.cursor {
  cursor: pointer;
}

.portfolio-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 0 0 0;

  h2 {
    font-size: 56px;
    font-weight: 800;
  }

  p {
    margin: 0;
  }
}

.cursor {
  cursor: pointer;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  padding: 0 24px;
  max-width: 1280px;
  margin: 0 auto; 
}

.project-item {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  width: 100vw;
  max-width: 1280px;
  padding-bottom: 100px;
  margin: auto;
  gap: 100px;
  position: relative;
  z-index: 2;
}

.image-container {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 225ms ease-in-out;
  border: 3px solid transparent;
  filter: grayscale(100%);

  .arrow-down {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 75px;
    left: -15px;
    top: 122px;
    position: absolute;
    z-index: 2;
    opacity: 0;
    transition: all 225ms ease-in-out;
    transform: rotate(180deg);
  }
}

/* Apply a transparent border initially */
.image-container::before {
  content: "";
  position: absolute;
  border: 3px solid transparent;
  opacity: 0;
  z-index: 1;
  transition: all 225ms ease-in-out;
  top:0;
  left: 0;
  right:0;
  bottom: 0;
}

img {
  height: 380px;
  width: 570px;
  z-index: 0;
}

.project-item:hover .image-container::before {
  opacity: 1;
  border: 3px solid black;
  top: 25px;
  left: -25px;
  right: 25px;
  bottom: -25px;
}

.project-item:hover .description-container .number-container {
  color: #00BC8F;
  transition: color 225ms ease 225ms; // Smooth transition with a delay of 1 second
}

.project-item:hover .image-container {
  filter: none;
}

.project-item:hover .arrow-down {
  opacity: 1;
  position: absolute;
  left: -62px;
  top: 170px;
  transform: rotate(260deg);
}

  .description-container {
    width: 570px;
    flex-basis: 50%;
    position: relative;
    z-index: -10;
    top: 0;
    right: -550px;
    opacity: 0;
    transition: right 225ms ease 225ms, opacity 225ms ease;

    &.show {
      right: 0;
      opacity: 1;
    }
  }

  .number-container {
    display: flex;
    justify-content: start;
    font-weight: 700;
    font-size: 48px;
    padding-bottom: 50px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
  }

  .number-container-small-screen {
    display: none;
    font-weight: 700;
    font-size: 48px;
    padding-bottom: 20px;

    @media (max-width: 1320px) {
      display: flex;
    }
}

.description-container button {
  min-width: 150px;
  padding: 8px;
  font-size: 24px;
  border: 3px solid black;
  background-color: transparent;
  transition: all 225ms ease-in-out;
  font-weight: 400;

  a {
    text-decoration: none;
    color: #000;
  }

  &:hover {
    width: 175px;
  }
}

.languages {
  color: #00BC8F;
  font-size: 24px;
}

h3 {
  font-size: 42px;
  font-weight: 800;
  margin: 0;
}

.portfolio-header p {
  font-size: 24px;
  text-align: center;
  margin: 0;
}

@media (max-width:1320px) {
  .project-list {

    .arrow-down {
      display: none;
    }

    .project-item:hover .image-container::before {
      opacity: 1;
      border: 3px solid transparent;
      top:0;
      left:0;
      right: 0;
      bottom: 0;
    }

    .description-container {
      left: 0;
      margin-top: -50px;
    }

    .button-container {
      justify-content: center;
    }

    .image-container {
      filter: none;
    }
  }

  .project-item {
    display: flex;
    flex-direction: column;
    max-width: 100%; /* Add max-width property */
    margin: 0 auto; /* Center the .project-list horizontally */
  }


  .description-container {
    position: relative !important;
    right: 0 !important;
    transition: none !important;
    opacity: 1 !important;
    z-index: 1 !important;

    .number-container {
      display: none;
    }
  }
}

@media (max-width: 720px) {
  .project-item {
    // min-width: 80vw;

    .image-container {
      width: 100%;
      filter: none;
      
      img {
        width: 100%;
        /* You can adjust the height proportionally if needed */
        height: auto;
      }
    }

    .description-container {
      width: 100%;

      h3 {
        font-size: 32px;
      }
      .languages {
        font-size: 20px;
      }
    }

    .button-container {
      button {
        font-size: 20px;
      }
    }
  }
}

@media(max-width: 480px) {
  .description-container {

    h3 {
      font-size: 24px !important;
    }

    .languages {
      font-size: 16px;
    }
  }
}
