<div id="portfolio" class="project-list">


    <div class="project-item" (mouseenter)="showDescription(0)"
  (mouseleave)="hideDescription(0)">
    <div class="image-container" [@divState]="state" #aboutmeLeft>
      <div class="number-container-small-screen">02/03</div>
      <img src="./assets/images/join.png">
      <img class="arrow-down" src="./assets/images/project-arrow.svg" alt="">
    </div>
    <div [ngClass]="{'show': isDescriptionVisible(0)}" class="description-container" >
      <div class="number-container">02/03</div>
      <h3>Join</h3>
      <p class="languages">HTML | CSS | JS</p>
      <p class="project-description-font">Task Manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories.</p>
      <div class="button-container">
        <button class="cursor" (click)="navigateTo('https://hasan-coskun.com/join/html/index.html')">
          Live
        </button>
        <button class="cursor" (click)="navigateTo('https://github.com/hasancskn38/join-mch')">
          Github
        </button>
      </div>
    </div>
  </div>

  </div>



  