.cursor {
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: calc(100dvw - 128px);
  padding: 0 64px;
}

.header-container {
  text-align: center;
  margin: 100px 0 0 0;

  .main-heading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 1s, transform 1s;
    h1 {
        margin: 20px;
      }
  }
  .sub-heading {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s, transform 1s;
  }
}

.animate-on-load .main-heading-container,
.animate-on-load .sub-heading,
.animate-on-load .header-bottom {
  opacity: 1;
  transform: translateY(0);
}

.header-top {
  margin: 0 0 -40px 0 !important;
}


h1 {
  font-size: 90px;
  font-weight: 800;
  text-align: center;
}

.sub-heading p {
  font-size: 32px;
  font-weight: 540;
  color: #00BC8F;
}

.sub-heading {
  display: flex;
  align-items: center;
  margin-top: -20px;
}

.sub-heading hr {
  width: 25vw;
  border: 1px solid #333;
  margin-right: 20px;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
    transition: opacity 1s;
    max-width:1280px;
    width: 100%;
  }
  
.animate-on-load .header-bottom {
  opacity: 0; /* Set opacity to 0 to trigger the animation */
  transform: translateY(0);
}

.header-bottom> :first-child {
  transform: rotate(-90deg) translateY(-80px);
  margin: 0;
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #000;

  img {
    width: 70px;
    // transform: translateX(-50%);
    animation: arrowAnimation 2s infinite;
  }
}

@keyframes arrowAnimation {

  0%,
  100% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(20px);
  }
}

@media(max-width:768px) {

  main {
    // padding: 0 64px;

    .header-bottom {
      width: calc(100vw - 48px);

    }

  .main-heading-container {
    gap: 20px;

    h1 {
      font-size: 70px;
    }

    .sub-heading p{
      font-size: 24px !important;
    }
  }
  }
}

@media(max-width:600px) {

  .main-heading-container {
    gap: 20px;


    h1 {
      font-size: 36px !important;
    }
  }

  .sub-heading  {
     p {
      font-size: 26px !important;
     }

     hr {
      display: none;
     }
  }

    .sub-heading {
    display: flex;

      justify-content: center;
    }
}
