.cursor {
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 18px;
  padding-top: 15px;
  display:flex;
  justify-content: start;
}

footer {
    clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 100%);
    background-color: #000;
    width: calc(100vw - 128px);
    padding: 0 64px;
  }
  
  .footer-header h2 {
    transition: 225ms ease-in-out;
    display: inline-block;
    color: #f8f8ee;
    font-size: 56px;
    padding: 64px 0;
    &:hover {
      color: #00BC8F;
    }
  }
  
  .heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    .new-project-heading {
      color: #00BC8F;
      font-size: 32px;
      font-weight: 600;
    }
  
    .new-project-subheading {
      font-size: 24px;
      padding: 0 0 50px 0;
      color: #f8f8ee;
      text-align: center;
    }
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  }
  
  form {
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-direction: column;
    gap: 40px;
  
    div {
      input,
      textarea {
        transition: all 225ms ease-in-out;
        cursor: pointer;
        width: 80vw;
        max-width: 1280px;
        box-sizing: border-box;
        background-color: #000;
        border: none;
        box-shadow: 0 4px 0 0 #f8f8ee;
        padding: 24px;
        color: #f8f8ee;
        font-size: 18px;
  
        &::placeholder {
          color: #f8f8ee;
          font-size: 18px;
        }
  
        &:hover {
          box-shadow: 0 0 0 4px #f8f8ee;
        }
  
        &:focus {
          box-shadow: 0 0 0 2px #f8f8ee !important;
        }
      }
  
      textarea {
        /* Add specific styles for textarea */
        resize: vertical; /* Allow vertical resizing */
        min-height: 300px; /* Set a minimum height */
      }
    }
  
    .button-container {
      display:flex;
      justify-content: center;

      button {
        /* Your existing button styles */
        font-size: 24px;
        padding: 16px;
        box-shadow: 0 0 0 4px #f8f8ee;
        background-color: #000;
        color: #f8f8ee;
        width: 200px;
        padding: 16px;
        margin: 64px;
        transition: all 225ms ease-in-out;
        font-weight: 400;
        &:hover {
          width: 250px;
        }
      }
    }
  }

  .input-container {
    position: relative;
  }
  
  input {
    padding-right: 25px; /* Adjust this value based on the width of the checkmark image */
    span {
      color: red;
    }
  }
  
  input[style], textarea[style] {
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 40px 40px;
  }
  
  textarea[style] {
    background-repeat: no-repeat;
    background-position: top 20px right 20px;
    background-size: 40px 40px;
  }

  .arrow-container {
    display: flex;
    justify-content: flex-end; /* Use 'flex-end' instead of 'right' to align the image to the right */
    filter: invert(100%);
  }
  
  .arrow-wrapper {
    transform: rotate(180deg); /* Apply rotation to the wrapper */
  }
  
  .arrow-up {
    animation: arrowAnimation 2s infinite;
    width: 70px;
  }
  
  @keyframes arrowAnimation {
    0%, 100% {
      transform: translateY(-20px);
    }
    50% {
      transform: translateY(20px);
    }
  }

  @media(max-width:720px) {
    footer {
      clip-path: polygon(0% 0%, 100% 8%, 100% 100%, 0% 100%);
    }
  }

  @media(max-width:560px) {
    footer {
      clip-path: polygon(0% 0%, 100% 6%, 100% 100%, 0% 100%);
    }
  }