<div id="portfolio" class="project-list">
  <div class="portfolio-header">
    <h2>Portfolio</h2>
    <p>This page is a sample of my work - please feel free to try them out.</p>
  </div>
  <div class="project-item" (mouseenter)="showDescription(0)"
  (mouseleave)="hideDescription(0)">
    <div class="image-container" [@divState]="state" #aboutmeLeft>
      <div class="number-container-small-screen">01/04</div>
      <img src="./assets/images/join.png">
      <img class="arrow-down" src="./assets/images/project-arrow.svg" alt="">
    </div>
    <div [ngClass]="{'show': isDescriptionVisible(0)}" class="description-container" >
      <div class="number-container">01/04</div>
      <h3>Join</h3>
      <p class="languages">HTML | CSS | JS</p>
      <p>Task Manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories,</p>
      <div class="button-container">
        <button class="cursor" (click)="navigateTo('https://hasan-coskun.developerakademie.net/join/html/index.html')">
          Live
        </button>
        <button class="cursor" (click)="navigateTo('https://github.com/hasancskn38/join-mch')">
          Github
        </button>
      </div>
    </div>
  </div>
</div>
