<div id="portfolio" class="project-list">
  <div class="portfolio-header">
    <h2>Portfolio</h2>
    <p>This section is a sample of my work - please feel free to try them out.</p>
  </div>

  <div class="project-item" (mouseenter)="showDescription(0)"
    (mouseleave)="hideDescription(0)">

      <div class="image-container" class="image-container" [@divState]="state" #aboutmeLeft>
        <div class="number-container-small-screen">01/03</div>
        <img src="./assets/images/dabubble.png">
        <img class="arrow-down" src="./assets/images/project-arrow.svg" alt="">
      </div>
      <div class="description-container" [ngClass]="{'show': isDescriptionVisible(0)}">
        <div class="number-container">01/03</div>
        <h3>DaBubble</h3>
        <p class="languages">Angular | TypeScript | Firebase | Material Design | SCSS</p>
        <p class="project-description-font">DaBubble, a powerful and user-friendly Slack clone that brings seamless team communication, collaboration, and organization to your fingertips.</p>
        <div class="button-container">
          <button class="cursor" (click)="navigateTo('https://www.hasan-coskun.com/dabubble/')">
            <a href="#" target="_blank">Live</a>
          </button>
          <button class="cursor" (click)="navigateTo('https://github.com/hasancskn38/DA-Bubble')">
            <a href="#" target="_blank">Github</a>
          </button>
        </div>
      </div>
    </div>

</div>
