*, body  {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
    scroll-behavior: smooth !important;
    overflow-x: hidden !important;
}



.main {
    height: 100vh;
}