<div class="container">
    <div class="myskills">
      <h2 id="skills">My skills</h2>
      <div class="icon-container">
        <div *ngFor="let skill of skills" class="skill-container">
          <img class="hover-effect" [src]="skill.imageUrl" alt="Image" (mouseenter)="showHoverImage(skill)" (mouseleave)="hideHoverImage(skill)">
          <img class="hover-image hover-effect" [src]="skill.hoverImageUrl" alt="Hover Image" [hidden]="!skill.showHover" [ngClass]="skill.cssClass" [class.default-image]="isTabletOrSmaller()">
          <p>{{ skill.description }}</p>
        </div>
      </div>
    </div>
  </div>
  