body {
    margin: 0;
    padding: 0;
    background-color: #f8f8ee;
    // font-family: 'Overpass', sans-serif;
    font-family: 'Syne', sans-serif;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
  }